* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/main-bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/main-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 5vh 0;
  font-size: 16px;
  line-height: 1;
}

.container {
  max-width: 540px;
  min-width: 360px;
  border: 1px solid #ddd;
  margin: 0 auto;
  height: 90vh;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

.container nav {
  top: 0;
}

.container nav a {
  text-transform: uppercase;
  font-weight: 600;
}

.container header {
  height: 20%;
  border-bottom: 1px solid #ddd;
}

.container header input {
  width: 80%;
  font-size: 2.5rem;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  background-color: rgba(128, 128, 128, 0.2);
  text-align: center;
  color: white;
  text-shadow: 0 0 3px black;
  border-radius: 5px;
  border-bottom: 4px solid lightgray;
}

.container header i {
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

.container .main {
  height: 80%;
  overflow: hidden;
}

.container .main .current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .main .current .singleResult {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 5% 0;
}

.container .main .current .singleResult h2 {
  text-align: center;
  font-size: 5rem;
  color: white;
  text-shadow: 0 0 3px black;
  margin-bottom: 10px;
}

.container .main .current .singleResult p {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.container .main .current .singleResult h4 {
  font-size: 2rem;
  text-align: center;
}

.container .main .current .singleResult h4 .day {
  color: yellow;
}

.container .main .current .singleResult h4 .night {
  color: white;
}

.container .main .details {
  height: 50%;
  width: 100%;
  padding: 5% 0;
  border-bottom: 1px solid #ddd;
}

.container .main .details ul li {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  color: white;
  font-weight: 500;
}

.container .main .hourly {
  width: 100%;
  padding: 10px 0;
  color: white;
  border-bottom: 1px solid #ddd;
}

.container .main .hourly .col-6 {
  text-align: center;
  line-height: 1.1;
}

.container .main .hourly .col-6 .item {
  width: 100%;
  margin-bottom: 20px;
}

.container .main .hourly .col-6 .item div {
  width: 100%;
}

.container .main .hourly .col-6 .item img {
  width: 30%;
  display: block;
}

.container .main .hourly .col-6 h5 {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

.container .main .hourly .col-6 h3 {
  margin: 0;
  text-align: center;
  font-size: 1rem;
}

.container .main .hourly .col-6 p {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

.container .main .daily {
  color: white;
  padding: 10px 0;
}

.container .main .daily h3 {
  text-transform: uppercase;
  font-size: 1.3rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 1;
}

.container .main .daily h3 span {
  text-transform: none;
  text-align: right;
}

.container .main .daily ul li {
  line-height: 1.1;
}
/*# sourceMappingURL=main.css.map */