* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin flex($justify: center, $align: center, $dir: row) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
}
ul {
  list-style: none;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/main-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 5vh 0;
  font-size: 16px;
  line-height: 1;
}
.container {
  max-width: 540px;
  min-width: 360px;
  border: 1px solid #ddd;
  margin: 0 auto;
  height: 90vh;
  padding: 0 10px;
  nav {
    top: 0;
  }
  header {
    height: 20%;
    border-bottom: 1px solid #ddd;
    input {
      width: 80%;
      font-size: 2.5rem;
      padding: 5px;
      margin-bottom: 10px;
      outline: none;
      border: none;
      background-color: rgba(gray, 0.2);
      text-align: center;
      color: white;
      text-shadow: 0 0 3px black;
      border-radius: 5px;
      border-bottom: 4px solid lightgray;
    }
  }
  .main {
    height: 80%;
    .current {
      // @include flex($dir: column);
      height: 100%;
      .singleResult {
        height: 50%;
        width: 100%;
        border-bottom: 1px solid #ddd;
        // @include flex(center, center, column);
        p {
          text-align: center;
          color: white;
          font-size: 1.5rem;
        }
        h4 {
          font-size: 2rem;
          text-align: center;
          .day {
            color: yellow;
          }
          .night {
            color: #272424;
          }
        }
      }
    }
    .details {
      height: 50%;
      width: 100%;

      ul {
        li {
          text-align: center;
          font-size: 1.2rem;
          line-height: 1.5;
          color: white;
          font-weight: 500;
        }
      }
    }
  }
}
.current {
  @include flex($dir: column);

  h2 {
    text-align: center;
    font-size: 5rem;
    color: white;
    text-shadow: 0 0 3px black;
    margin-bottom: 10px;
  }
}
