* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
@mixin flex($justify: center, $align: center, $dir: row) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/main-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-size: 16px;
  line-height: 1;
}
.container {
  max-width: 540px;
  min-width: 360px;
  border: 1px solid #ddd;
  margin: 0 auto;
}
.current {
  @include flex($dir: column);
  height: 50vh;
  input {
    width: 80%;
    font-size: 2.5rem;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    background-color: rgba(gray, 0.2);
    text-align: center;
    color: white;
    text-shadow: 0 0 3px black;
    border-radius: 5px;
    border-bottom: 4px solid lightgray;
  }
  h2 {
    text-align: center;
    font-size: 5rem;
    color: white;
    text-shadow: 0 0 3px black;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 2rem;
    .day {
      color: yellow;
    }
    .night {
      color: #474242;
    }
  }
}
